@import 'config';

.wrapper {
    /* overflow: hidden; */
}

section {
    &.about-us {
        position: relative;
        margin-top: -16rem;
        .overflow-wrap {
            width: 100%;
            overflow: hidden;
        }
        .area1 {
            margin-bottom: 51rem;
            .show-text-wrap {
                .line {
                    &:first-of-type {
                        margin-left: 23rem;
                    }
                }
            }
        }
        .area2 {
            margin-bottom: 48rem;
            .portfolio-inner {
                .cards-wrap {
                    display: flex;
                }
                .cards {
                    display: flex;
                    li {
                        padding-right: 30rem;
                        .img {
                            width: 56rem;
                            height: auto;
                            border-radius: 3rem;
                            overflow: hidden;
                            opacity: .2;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .show-text-wrap {
                    .front-dot {
                        p:nth-child(1) {
                            margin-left: 18rem;
                        }
                    }
                }
            }
        }
        .area3 {
            margin-bottom: 12rem;
            .show-text-wrap {
                padding-left: 49.27%;
                .front-dot {
                    p:nth-child(1) {
                        margin-left: 16rem;
                    }
                }
            }
            .text-ko-wrap {
                padding-left: 49.27%;
            }
        }
        .area4 {
            position: relative;
            padding: 25rem 0 30rem;
            margin-bottom: 60rem;
            .wrap {
                position: relative;
                width: 100%;
            }
            .worlds {
                p {
                    position: relative;
                    font-family: $font-rhy-thin;
                    font-size: 23rem;
                    line-height: 22rem;
                    letter-spacing: -.03em;
                    left: 50%;
                    &.london {
                        margin-left: -70rem;
                    }
                    &.los-an {
                        margin-left: -34rem;
                    }
                    &.santiago {
                        margin-left: -97rem;
                    }
                    &.new-york {
                        margin-left: -25rem;
                    }
                    &.dallas {
                        margin-left: -7rem;
                    }
                    &.bucharest {
                        margin-left: -98rem;
                    }
                    &.durham {
                        margin-left: -5rem;
                    }
                }
            }
            .clocks {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                .clock-wrap {
                    position: relative;
                    width: 25.4rem;
                    height: 25.4rem;
                    margin: 0 auto;
                    svg {
                        width: 100%;
                        height: auto;
                    }
                    &.clock1 {
                        top: -26rem;
                        left: -45.5rem;
                    }
                    &.clock2 {
                        top: -6rem;
                        right: -46.4rem;
                    }
                    &.clock3 {
                        top: -2rem;
                        left: -67.5rem;
                    }
                    &.clock4 {
                        top: 2rem;
                        right: -57rem;
                    }
                    &.clock5 {
                        top: 32rem;
                        right: -37.6rem;
                    }
                    &.clock6 {
                        top: 0rem;
                        left: -52rem;
                    }
                    &.clock7 {
                        top: 30rem;
                        left: -10.6rem;
                    }
                }
            }
            .deco-text {
                position: absolute;
                top: 40rem;
                left: 4rem;
                p {
                    font-family: $font-light;
                    font-size: 1.6rem;
                    color: $color-gray;
                }
            }
        }
        .area5 {
            margin-bottom: 5rem;
            .wrap {
                position: relative;
                width: 100%;
            }
            .bg-image {
                width: 82.6rem;
                margin: 0 auto;
                border-radius: 3rem;
                overflow: hidden;
                opacity: .1;
                .img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
            .box-text {
                position: absolute;
                top: 0;
                width: 100%;
                padding-top: 4rem;
                text-align: center;
                .name {
                    margin-bottom: 43.5rem;
                    font-size: 1.4rem;
                    letter-spacing: -.02em;
                }
                h2 {
                    margin-bottom: 2rem;
                    font-family: $font-rhy-thin;
                    font-size: 18rem;
                    line-height: 16rem;
                    letter-spacing: -.01em;
                    font-weight: 300;
                    span {
                        display: block;
                        margin-bottom: 2rem;
                        font-family: $font-regular;
                        font-size: 18rem;
                        line-height: 16rem;
                        letter-spacing: -.01em;
                    }
                }
                .sub-text1, .sub-text2 {
                    font-size: 1.4rem;
                    letter-spacing: -.02em;
                }
                .sub-text1 {
                    margin-bottom: 57.5rem;
                }
                .date {
                    font-family: $font-rhy-thin;
                    font-weight: 300;
                    font-size: 18rem;
                    line-height: 16rem;
                    letter-spacing: -.01em;
                    text-transform: uppercase;
                }
                .time {
                    margin-bottom: 2rem;
                    span {
                        font-size: 18rem;
                        line-height: 16rem;
                        letter-spacing: -.02em;
                    }
                    .time-num {
                        display: inline-block;
                        width: 20.6rem;
                        text-align: center;
                        font-variant-numeric: tabular-nums;
                    }
                }
            }
            .clock-wrap {
                position: absolute;
                top: 18rem;
                left: 50%;
                width: 190rem;
                margin-left: -95rem;
                svg {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .area6 {
            margin-bottom: 26rem;
            .wrap {
                position: relative;
            }
            .bg-wrap {
                width: 82.7rem;
                margin: 0 auto;
                overflow: hidden;
                .bg-img-list {
                    display: flex;
                    .img {
                        flex-shrink: 0;
                        width: 100%;
                        img {
                            width: 100%;
                            border-radius: 3rem;
                        }
                    }
                }
            }
            .tag {
                position: absolute;
                &:first-of-type {
                    top: 6rem;
                    width: 100%;
                    text-align: center;
                }
                &:last-of-type {
                    bottom: 6rem;
                    width: 100%;
                    text-align: center;
                }
            }
            .box-text {
                position: absolute;
                top: 69rem;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                .show-text-wrap {
                    .front-dot {
                        p:nth-child(1) {
                            margin-left: 16rem;
                        }
                    }
                }
                .text-ko-wrap {
                    padding-left: 49.27%;
                }
            }
        }
        .area7 {
            margin-bottom: 40rem;
            .wrap {
                .introduce-text {
                    position: relative;
                    width: 100%;
                    max-width: 132rem;
                    margin: 0 auto;
                    box-sizing: border-box;
                    padding: 6.4rem 0 11rem;
                    .text-en, .text-ko {
                        box-sizing: border-box;
                        padding-left: 64.6rem;

                        transform: translateY(4rem);
                        opacity: 0;
                    }
                    &:first-of-type {
                        width: 100%;
                        max-width: 132rem;
                        margin: 0 auto;
                        padding: 10rem 0 11rem 64.6rem;
                        .text-en, .text-ko {
                            padding-left: 0;
                        }
                    }
                    .title-wrap {
                        display: flex;
                        margin-bottom: 4rem;

                        transform: translateY(4rem);
                        opacity: 0;
                        h2 {
                            width: 64.6rem;
                            font-family: $font-medium;
                            font-size: 5.6rem;
                        }
                        p {
                            font-size: 3.6rem;
                            line-height: 4rem;
                            letter-spacing: -.02em;
                        }
                    }
                    .text-en {
                        margin-bottom: 3rem;
                        font-family: $font-light;
                        font-size: 2.4rem;
                        line-height: 2.8rem;
                        letter-spacing: -.02em;
                    }
                    .text-ko {
                        font-size: 1.8rem;
                        letter-spacing: -.03em;
                        line-height: 2.8rem;

                        word-break: keep-all;
                        word-wrap: break-word;
                    }
                    .line {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $color-white;

                        transform: translateY(4rem);
                        opacity: 0;
                    }
                }
            }
        }
        .area8 {
            position: relative;
            .wrap {
                /* 
                부모를 gsap pin으로 고정하면 자식인 .wrap의 sticky가 정상 동작
                - sticky는 부모의 스크롤 영역 내에서만 작동하는데 overflow: hidden은 스크롤을 차단시킴
                */
                width: 100%;
                height: 100vh;
                overflow: hidden;
                .circle {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 74px;
                    height: 74px;
                    border-radius: 100%;
                    background-color: $color-blue;

                    // width: 140vmax;
                    // height: 140vmax;
                }
                .contents-box {
                    @include flex-center;
                    position: relative;
                    width: 174.4rem;
                    height: 100%;
                    margin: 0 auto;
                    transform: translateX(50vw);
                    svg {
                        width: 100%;
                        height: auto;
                    }
                    .text-box {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        .top-text {
                            display: flex;
                            gap: 13vw;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            .texts {
                                width: 14vw;
                                text-align: center;
                                opacity: 0;
                                transform: perspective(1000px);
                                transform-style: preserve-3d;
                                span {
                                    font-family: $font-light;
                                    font-size: 2.4rem;
                                    line-height: 2.8rem;
                                    letter-spacing: -.03em;
                                }
                                p {
                                    font-family: $font-rhy-thin;
                                    font-size: 6rem;
                                    line-height: 7.2rem;
                                    /* transform: perspective(500px) rotateX(0);
                                    transform-style: preserve-3d; */
                                    transform-origin: 185.676px 53.4766px;
                                }
                            }
                            &.box1 {
                                .texts {
                                    p {
                                        transform: perspective(500px) rotateX(0);
                                        transform-style: preserve-3d;
                                    }
                                }
                            }
                            &.box2 {
                                .texts {
                                    p {
                                        opacity: 0;
                                        transform: perspective(500px) rotateX(-90deg);
                                        transform-style: preserve-3d;
                                    }
                                }
                            }
                            &.box3 {
                                .texts {
                                    p {
                                        opacity: 0;
                                        transform: perspective(500px) rotateX(-90deg);
                                        transform-style: preserve-3d;
                                    }
                                }
                            }
                        }
                        .bottom-text {
                            position: absolute;
                            width: 100%;
                            bottom: 15%;
                            text-align: center;
                            font-family: $font-light;
                            font-size: 2.4rem;
                            line-height: 2.8rem;
                            letter-spacing: -.03em;
                            color: $color-black;

                            opacity: 0;
                        }
                    }
                }
            }
        }
        .area9 {
            padding-top: 20rem;
            background-color: $color-blue;
            .text-box {
                position: relative;
                transform: translateY(36rem);
                z-index: 1;
                li {
                    position: relative;
                    display: flex;
                    left: 50%;
                    p {
                        text-align: left;
                        font-family: $font-rhy-thin;
                        font-size: 23rem;
                        line-height: 22rem;
                        letter-spacing: -.01em;
                        white-space: nowrap;
                    }
                    small {
                        font-family: $font-light;
                    }
                    &.line1 {
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-left: -66rem;
                        small {
                            position: relative;
                            bottom: -3rem;
                            margin-left: 1rem;
                            font-size: 4.6rem;
                            line-height: 5rem;
                        }
                    }
                    &.line2 {
                        margin-left: -96rem;
                    }
                    &.line3 {
                        margin-left: -62rem;
                    }
                    &.line4 {
                        justify-content: flex-start;
                        align-items: center;
                        margin-left: -90rem;
                        small {
                            margin: 0 11rem;
                            text-align: center;
                            font-size: 1.6rem;
                            line-height: 2rem;
                            letter-spacing: -.02em;
                        }
                    }
                    &.line5 {
                        justify-content: flex-start;
                        align-items: flex-start;
                        margin-left: -79rem;
                        small {
                            position: relative;
                            bottom: -3rem;
                            margin-right: 9rem;
                            text-align: left;
                            font-size: 4.6rem;
                            line-height: 4.2rem;
                            letter-spacing: -.06em;
                            white-space: nowrap;
                        }
                    }
                    &.line6 {
                        justify-content: flex-start;
                        align-items: center;
                        margin-left: -83rem;
                        small {
                            margin-left: 16rem;
                            text-align: center;
                            font-size: 1.6rem;
                            line-height: 2rem;
                            letter-spacing: -.02em;
                        }
                    }
                    &.line7 {
                        margin-left: -100rem;
                    }
                }
            }
        }

        //.area10, .area11
        .horizontal-wrap {
            position: relative;
            z-index: 1;
            .wrap {
                display: flex;
                > div {
                    width: 100vw;
                    height: 100vh;
                    flex-shrink: 0;
                    overflow: hidden;
                }
            }
            .area10 {
                padding: 22.1875px 14.7917px;
                box-sizing: border-box;
                .inner {
                    position: relative;
                    width: 25%;
                    height: 100%;
                    border-radius: 3rem;
                    overflow: hidden;
                    .image-wrap {
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: left bottom;
                            z-index: -1;
                        }
                        &.dark {
                            opacity: 0;
                        }
                        &.night {
                            opacity: 0;
                        }
                    }
                }
            }

            .area11 {
                position: relative;
                background: $color-black;
                .text-box {
                    position: absolute;
                    bottom: 10%;
                    width: 100%;
                    margin: 0 auto;
                    .show-text-wrap {
                        padding-left: 2.86%;
                        width: 100%;
                        .front-dot {
                            p:nth-child(1) {
                                margin-left: 10rem;
                            }
                        }
                        .line {
                            .units {
                                transform: translateY(0);
                            }
                        }
                    }
                    .text-ko-wrap {
                        padding-left: 36.45%;
                        p {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        //.area12, .area13
        .horizontal-area-wrap {
            position: relative;
            z-index: 0;
            margin-top: -100vh;
            height: 2500vh;
            .sticky-wrap {
                position: sticky;
                top: 0;
                width: 100%;
                overflow: hidden;
            }
            .area12 {
                display: flex;
                padding-left: 160rem;
                width: calc(221.3rem + 209rem + 276.2rem); //css로 width 강제해 주지 않으면 100vw로 width가 잡힘... velog에 적기
                background-color: $color-green;
                border-radius: 0 5rem 5rem 0;
                overflow: hidden;
                .page {
                    position: relative;
                    height: 100%;
                    flex-shrink: 0;
                    .contents {
                        position: absolute;
                        z-index: 3;
                        h2, p, span {
                            color: $color-black;
                        }
                        h2, h2 span {
                            font-family: $font-rhy-thin;
                            font-size: 20rem;
                            line-height: 18rem;
                            font-weight: unset;
                        }
                        p, span {
                            font-family: $font-light;
                            font-size: 1.6rem;
                            line-height: 2rem;
                            letter-spacing: -.02em;
                        }
                        span {
                            display: block;
                        }
                        .eng {
                            font-size: 2.4rem;
                            line-height: 2.8rem;
                            letter-spacing: -.01em;
                        }
                        .ko {
                            margin-top: 3rem;
                            font-size: 1.8rem;
                            line-height: 2.9rem;
                            letter-spacing: -.03em;
                        }
                        .image-box {
                            display: flex;
                            flex-direction: column;
                            align-items: end;
                            .image {
                                border-radius: 3rem;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            span {
                                margin-top: 1.4rem;
                                font-size: 1.2rem;
                                line-height: 1.5rem;
                                letter-spacing: -.03em;
                            }
                        }
                    }
                    .object {
                        position: absolute;
                        opacity: .8;
                    }
                    &.page1 {
                        width: 221.3rem;
                        height: 100vh;
                        .contents {
                            &.contents1 {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;
                                bottom: 4%;
                                left: 4rem;
                                height: 56.5rem;
                                max-height: 96%;
                            }
                            &.contents2 {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;
                                top: 9%;
                                left: 87rem;
                                height: 86rem;
                                max-width: 91%;
                                padding-bottom: 4rem;
                                h2 {
                                    text-align: right;
                                }
                                .image-box {
                                    margin-left: 31.8rem;
                                    .image {
                                        width: 49rem;
                                    }
                                }
                            }
                        }
                        .object1 {
                            width: 100rem;
                            top: -56rem;
                            left: -56rem;
                        }
                        .object2 {
                            z-index: 1;
                            width: 130rem;
                            bottom: -55rem;
                            left: 96rem;
                        }
                    }
                    &.page2 {
                        width: 209rem;
                        height: 100vh;
                        .contents1 {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 86rem;
                            max-width: 90%;
                            padding-bottom: 4rem;
                            top: 10%;
                            left: 15rem;
                            h2 {
                                position: relative;
                                margin-left: 6rem;
                                span {
                                    &:last-of-type {
                                        text-indent: 27rem;
                                    }
                                }
                                small {
                                    position: absolute;
                                    top: 20rem;
                                    left: 13rem;
                                    font-family: $font-light;
                                    font-size: 4.6rem;
                                    line-height: 4.2rem;
                                    letter-spacing: -.06em;
                                    color: $color-black;
                                }
                            }
                        }
                        .contents2 {
                            top: 11%;
                            left: 100rem;
                            z-index: 2;
                            .image {
                                width: 67rem;
                            }
                        }
                        .object3 {
                            z-index: 1;
                            width: 100rem;
                            top: -30%;
                            left: 40rem;
                        }
                    }
                    &.page3 {
                        width: 276.2rem;
                        height: 100vh;
                        .contents {
                            &.contents1 {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;
                                height: 80rem;
                                max-height: 100%;
                                margin-top: -16%;
                                top: 50%;
                                left: 76rem;
                                z-index: 3;
                                h2 {
                                    span {
                                        &:nth-of-type(2) {
                                            text-indent: 20rem;
                                        }
                                        &:nth-of-type(3) {
                                            text-indent: -9rem;
                                        }
                                    }
                                }
                                .desc {
                                    padding-left: 13rem;
                                }
                            }
                            &.contents2 {
                                z-index: 2;
                                bottom: 5%;
                                left: 45.5rem;
                                .image {
                                    width: 37rem;
                                }
                            }
                            &.contents3 {
                                z-index: 4;
                                top: 22%;
                                left: 164.8rem;
                                .image {
                                    width: 57.4rem;
                                }
                            }
                        }
                        .object4 {
                            z-index: 4;
                            width: 85rem;
                            bottom: 8%;
                            left: -5rem;
                        }
                        .object5 {
                            z-index: 1;
                            width: 150rem;
                            bottom: -30%;
                            left: 180rem;
                        }
                    }
                }
            }
            .area13 {
                position: relative;
                z-index: -1;
                margin-top: -100vh;
                height: 100vh;
                .video-wrap {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    .contents {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        video {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        &.video2 {
                            opacity: 0;
                        }
                        &.video3 {
                            opacity: 0;
                        }
                        &.video4 {
                            opacity: 0;
                        }
                    }
                }
                .text-wrap {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100vw;
                    height: 100vh;
                    .contents {
                        @include flex-center;
                        flex-direction: column;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        > div {
                            width: 100%;
                            text-align: center;
                            .label {
                                display: block;
                                margin-bottom: 3rem;
                                font-family: $font-rhy-thin;
                                font-size: 4rem;
                                line-height: 4rem;
                                letter-spacing: .01em;
                            }
                            h2 {
                                display: inline-block;
                                padding-left: 10rem;
                                font-family: $font-medium;
                                font-size: 22rem;
                                line-height: 22rem;
                            }
                            .eng {
                                margin-bottom: 3rem;
                                margin-top: 6rem;
                                font-family: $font-rhy-thin;
                                font-size: 3.2rem;
                                line-height: 3.4rem;
                                letter-spacing: -.01em;
                            }
                            .ko {
                                font-family: $font-noto;
                                font-size: 1.8rem;
                                line-height: 2rem;
                                letter-spacing: -.03em;
                            }
                            &.top {
                                opacity: 0;
                            }
                            &.bottom {
                                opacity: 0;
                            }
                        }
                        &.text1 {
                            .top {
                                opacity: 1;
                            }
                            .bottom {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        .area14 {
            position: relative;
            width: 100%;
            margin-top: -100vh;
            background-color: $color-black;
            z-index: 3;
            overflow: hidden;
            .text-top {
                position: relative;
                padding-top: 15rem;
                padding-bottom: 180rem;
                font-size: 13rem;
                line-height: 11rem;
                text-align: center;
                z-index: 3;
                span {
                    font-size: 12rem;
                    font-family: $font-rhy-thin;
                    line-height: 12rem;
                }
            }
            .text-bottom {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                font-family: $font-rhy-thin;
                font-size: 55rem;
                z-index: 1;
            }
            .text-deco {
                position: absolute;
                bottom: 1.8rem;
                width: 111rem;
                left: 50%;
                transform: translateX(-50%);
                > span {
                    display: flex;
                    justify-content: space-between;
                }
                span {
                    font-size: 1.6rem;
                    line-height: 2rem;
                    letter-spacing: -.02em;
                    color: $color-gray;
                }
            }
            .pin-wrap {
                position: absolute;
                top: 165px;
                width: 100%;
                z-index: 2;
                .inner {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100vh;
                }
                .img-wrap {
                    width: 479px;
                    height: 479px;
                    border-radius: 99%;
                    background-color: #eee;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .area15 {
            margin-top: 30rem;
            margin-bottom: 54rem;
            .show-text-wrap {
                padding-left: 39.58%;
                .front-dot {
                    p:nth-child(1) {
                        margin-left: 17rem;
                    }
                }
            }
            .text-ko-wrap {
                padding-left: 48.43%;
            }
        }
        .area16 {
            margin-bottom: 27rem;
            .wrap {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            .header-text {
                position: relative;
                font-family: $font-rhy-thin;
                font-size: 18rem;
                line-height: 16rem;
                &.text1 {
                    left: 50%;
                    margin: 0 0 140rem -78rem;
                }
                &.text2 {
                    text-align: right;
                    margin: 0 -78rem 92rem 0;
                    right: 50%;
                }
            }
            .show-text-wrap {
                padding-left: 39.58%;
                .front-dot {
                    p:nth-child(1) {
                        margin-left: 19rem;
                    }
                }
            }
            .text-ko-wrap {
                padding-left: 48.43%;
            }
            .text-box {
                position: absolute;
                width: 44rem;
                top: 134rem;
                left: 50%;
                margin-left: -69rem;
                p {
                    font-family: $font-light;
                    font-size: 2.4rem;
                    line-height: 2.8rem;
                    letter-spacing: -.01em;
                }
            }
            .img-box {
                position: absolute;
                top: 0;
                .img-wrap {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                span {
                    display: block;
                    margin-top: 1.4rem;
                    text-align: right;
                    font-family: $font-light;
                    font-size: 1.2rem;
                    line-height: 1.5rem;
                    letter-spacing: -.02em;
                }
                &.box1 {
                    width: 79rem;
                    top: 55rem;
                    right: 50%;
                    margin-right: -10rem;
                    .img-wrap {}
                }
                &.box2 {
                    width: 38.4rem;
                    top: 116rem;
                    left: 50%;
                    margin-left: 39.6rem;
                }
                &.box3 {
                    width: 89.2rem;
                    top: 235rem;
                    left: 50%;
                    margin-left: -19.2rem;
                }
                &.box4 {
                    width: 34.5rem;
                    top: 270rem;
                    right: 50%;
                    margin-right: 42.1rem;
                }
            }
        }
    }

    &.work {
        height: 400vh;
        margin-bottom: 36rem;
        .sticky-wrap {
            position: sticky;
            top: 0;
            width: 100%;
            height: 100vh;
            .work-content, .title-content {
                position: relative;
                width: 100%;
                height: 100vh;
            }
            .title-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h2 {
                    font-family: $font-regular;
                    font-size: 35rem;
                }
                p { 
                    font-family: $font-rhy-thin;
                    font-size: 20rem;
                    line-height: 18rem;
                    letter-spacing: -.03em;
                    color: $color-black;
                    -webkit-text-stroke: 1px #fff;
                }
            }
            .work-content {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                transform: translateY(100%);
            }
            .bg-wrap {
                width: 100%;
                height: 100%;
                border-radius: 10rem 10rem 0 0;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .title-wrap {
                position: absolute;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                h3 {
                    font-family: $font-medium;
                    font-size: 15rem;
                    line-height: 14rem;
                    letter-spacing: -.03em;
                }
                p {
                    margin-top: 3rem;
                    font-family: $font-light;
                    font-size: 3.6rem;
                    line-height: 3.6rem;
                    letter-spacing: -.02em;
                }
            }
        }
    }

    &.recruit {
        padding: 30rem 0 35rem;
        .recruit-wrap {
            width: 100%;
            .title-wrap {
                position: relative;
                width: 121rem;
                margin: 0 auto 19rem;
                padding-bottom: 6rem;
                .title {
                    position: relative;
                    h2 {
                        p {
                            position: relative;
                            letter-spacing: -.03em;
                            font-family: $font-rhy-thin;
                            font-size: 16rem;
                            line-height: 21rem;
                            &:nth-child(1) {
                                text-align: left;
                                z-index: 1;
                                opacity: 0;
                            }
                            &:nth-child(2) {
                                text-align: right;
                                z-index: 3;
                                opacity: 0;
                            }
                        }
                    }
                    .card-wrapper {
                        position: absolute;
                        width: 38.8rem;
                        top: -5rem;
                        left: 50%;
                        transform: translate(-50%, 100%);
                        transform-style: preserve-3d;
                        opacity: 0;
                        z-index: 2;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .deco-text {
                    position: absolute;
                    top: 15rem;
                    left: 2rem;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    letter-spacing: -.01em;
                    color: $color-gray;
                }
                .mail {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 1.8rem;
                    letter-spacing: -.02em;
                }
            }
            .list-wrap {
                width: 100%;
                max-width: 132rem;
                margin: 0 auto;
                .recurit-list {
                    border-top: 1px solid $color-gray;
                    li {
                        &:hover {
                            .line {
                                background-position: 0 0;
                            }
                        }
                        a {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 7rem 0;
                            &::after {
                                @include vs-ib;
                                width: 3.6rem;
                                height: 3.6rem;
                                padding-right: 2.2rem;
                                background-image: url('../image/recruit_arrow.svg');
                                background-size: contain;
                                background-repeat: no-repeat;
                            }
                        }
                        h3 {
                            padding-left: 2rem;
                            font-family: $font-medium;
                            font-size: 5.6rem;
                            letter-spacing: -.01em;
                        }
                        .line {
                            width: 100%;
                            height: 1px;
                            background: linear-gradient(90deg, #fff 50%, #555 50%) 100% 0 / 200% 100%;
                            transition: all .5s ease-in-out;
                        }
                    }
                }
                //linear-gradient 속성값이해
                .gradient-box {
                    width: 500px;
                    height: 500px;
                    background: linear-gradient(90deg, #fff 50%, #555 50%) 100% 0 / 200% 100%;
                    /* 
                    100% 0 _ x축 y축 그라디언트의 위치값
                    / 200% 100% _ 그라디언트의 크기 x축으로 2배 늘린 것
                    */
                }
            }
        }
    }
}