/* variables */
/* fonts */
/* colors */
/* mixins */
/* media */
@media screen and (max-width: 1920px) {
  :root {
    font-size: 0.520833vw;
  }
}
/* header */
.header {
  position: relative;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}
.header .bg-video {
  width: 100%;
  padding-top: 22rem;
}
.header .bg-video video {
  display: block;
  object-fit: cover;
  width: 100%;
  max-width: 188.2rem;
  margin: 0 auto;
}
.header .header-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: #fff;
}
.header .header-inner .header-top .deco-text {
  padding-top: 3.6rem;
}
.header .header-inner .header-top .deco-text .text-list {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}
.header .header-inner .header-top .deco-text .text-list span {
  font-family: "Selecta-Light";
  font-size: 1.6rem;
  color: #555;
}
.header .header-inner .header-top .logo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
}
.header .header-inner .header-top .logo-wrap h1 {
  width: 100%;
  max-width: 118rem;
  margin-bottom: 3rem;
}
.header .header-inner .header-top .logo-wrap h1 img {
  width: 100%;
}
.header .header-inner .header-top .logo-wrap .position {
  display: flex;
}
.header .header-inner .header-top .logo-wrap .position p, .header .header-inner .header-top .logo-wrap .position span {
  font-size: 3.6rem;
}
.header .header-inner .header-top .logo-wrap .position p.city, .header .header-inner .header-top .logo-wrap .position span.city {
  margin-left: 6.5rem;
}
.header .header-inner .header-top .logo-wrap .position span {
  display: inline-block;
  width: 4.705rem;
  text-align: right;
}
.header .header-inner .header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  margin-bottom: 3rem;
}
.header .header-inner .header-bottom p {
  font-size: 3.6rem;
  letter-spacing: -0.03em;
}
.header .header-inner .header-bottom p.time {
  font-variant-numeric: tabular-nums;
}
.header nav {
  position: absolute;
  bottom: -75rem;
  width: 100%;
  height: 140vh;
  z-index: 999;
}
.header nav .nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav .nav-wrapper .top {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  margin: 2rem 4rem;
  background-color: #0f0;
  border-radius: 99%;
}
.header nav .nav-wrapper ul {
  margin: 2rem 4rem;
}
.header nav .nav-wrapper ul li a {
  font-family: "Selecta-Light";
  font-size: 2rem;
  letter-spacing: -0.02rem;
  line-height: 2.4rem;
}

.show-text-wrap {
  padding-left: 17.7%;
}
.show-text-wrap .line {
  overflow: hidden;
}
.show-text-wrap .line.front-dot {
  display: flex;
  transform: translateX(-2.2em);
}
.show-text-wrap .line.front-dot p:nth-child(1) {
  display: flex;
  align-items: center;
}
.show-text-wrap .line.front-dot p:nth-child(1)::before {
  display: inline-block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  top: 0.4em;
  margin-right: 0.7em;
  border-radius: 100%;
  background: #0f0;
}
.show-text-wrap .line .units {
  display: inline-block;
  font-family: "Selecta-Medium";
  font-size: 5.6rem;
  line-height: 6.2rem;
  letter-spacing: -0.01em;
  transform: translateY(100%);
}
.show-text-wrap.inactive .line .units {
  transform: none;
}

.text-ko-wrap {
  padding-left: 42.39%;
  margin-top: 7rem;
  overflow: hidden;
}
.text-ko-wrap p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.03em;
  transform: translateY(100%);
  opacity: 0;
}
.text-ko-wrap.inactive p {
  transform: none;
  opacity: 1;
}