@charset "UTF-8";
/* variables */
/* fonts */
/* colors */
/* mixins */
/* media */
@media screen and (max-width: 1920px) {
  :root {
    font-size: 0.520833vw;
  }
}
.wrapper {
  /* overflow: hidden; */
}

section.about-us {
  position: relative;
  margin-top: -16rem;
}
section.about-us .overflow-wrap {
  width: 100%;
  overflow: hidden;
}
section.about-us .area1 {
  margin-bottom: 51rem;
}
section.about-us .area1 .show-text-wrap .line:first-of-type {
  margin-left: 23rem;
}
section.about-us .area2 {
  margin-bottom: 48rem;
}
section.about-us .area2 .portfolio-inner .cards-wrap {
  display: flex;
}
section.about-us .area2 .portfolio-inner .cards {
  display: flex;
}
section.about-us .area2 .portfolio-inner .cards li {
  padding-right: 30rem;
}
section.about-us .area2 .portfolio-inner .cards li .img {
  width: 56rem;
  height: auto;
  border-radius: 3rem;
  overflow: hidden;
  opacity: 0.2;
}
section.about-us .area2 .portfolio-inner .cards li .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.about-us .area3 {
  margin-bottom: 12rem;
}
section.about-us .area3 .show-text-wrap {
  padding-left: 49.27%;
}
section.about-us .area3 .text-ko-wrap {
  padding-left: 49.27%;
}
section.about-us .area4 {
  position: relative;
  padding: 25rem 0 30rem;
  margin-bottom: 60rem;
}
section.about-us .area4 .wrap {
  position: relative;
  width: 100%;
}
section.about-us .area4 .worlds p {
  position: relative;
  font-family: "RhymesDisplay-Thin";
  font-size: 23rem;
  line-height: 22rem;
  letter-spacing: -0.03em;
  left: 50%;
}
section.about-us .area4 .worlds p.london {
  margin-left: -70rem;
}
section.about-us .area4 .worlds p.los-an {
  margin-left: -34rem;
}
section.about-us .area4 .worlds p.santiago {
  margin-left: -97rem;
}
section.about-us .area4 .worlds p.new-york {
  margin-left: -25rem;
}
section.about-us .area4 .worlds p.dallas {
  margin-left: -7rem;
}
section.about-us .area4 .worlds p.bucharest {
  margin-left: -98rem;
}
section.about-us .area4 .worlds p.durham {
  margin-left: -5rem;
}
section.about-us .area4 .clocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
section.about-us .area4 .clocks .clock-wrap {
  position: relative;
  width: 25.4rem;
  height: 25.4rem;
  margin: 0 auto;
}
section.about-us .area4 .clocks .clock-wrap svg {
  width: 100%;
  height: auto;
}
section.about-us .area4 .clocks .clock-wrap.clock1 {
  top: -26rem;
  left: -45.5rem;
}
section.about-us .area4 .clocks .clock-wrap.clock2 {
  top: -6rem;
  right: -46.4rem;
}
section.about-us .area4 .clocks .clock-wrap.clock3 {
  top: -2rem;
  left: -67.5rem;
}
section.about-us .area4 .clocks .clock-wrap.clock4 {
  top: 2rem;
  right: -57rem;
}
section.about-us .area4 .clocks .clock-wrap.clock5 {
  top: 32rem;
  right: -37.6rem;
}
section.about-us .area4 .clocks .clock-wrap.clock6 {
  top: 0rem;
  left: -52rem;
}
section.about-us .area4 .clocks .clock-wrap.clock7 {
  top: 30rem;
  left: -10.6rem;
}
section.about-us .area4 .deco-text {
  position: absolute;
  top: 40rem;
  left: 4rem;
}
section.about-us .area4 .deco-text p {
  font-family: "Selecta-Light";
  font-size: 1.6rem;
  color: #555;
}
section.about-us .area5 {
  margin-bottom: 5rem;
}
section.about-us .area5 .wrap {
  position: relative;
  width: 100%;
}
section.about-us .area5 .bg-image {
  width: 82.6rem;
  margin: 0 auto;
  border-radius: 3rem;
  overflow: hidden;
  opacity: 0.1;
}
section.about-us .area5 .bg-image .img {
  width: 100%;
}
section.about-us .area5 .bg-image .img img {
  width: 100%;
}
section.about-us .area5 .box-text {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 4rem;
  text-align: center;
}
section.about-us .area5 .box-text .name {
  margin-bottom: 43.5rem;
  font-size: 1.4rem;
  letter-spacing: -0.02em;
}
section.about-us .area5 .box-text h2 {
  margin-bottom: 2rem;
  font-family: "RhymesDisplay-Thin";
  font-size: 18rem;
  line-height: 16rem;
  letter-spacing: -0.01em;
  font-weight: 300;
}
section.about-us .area5 .box-text h2 span {
  display: block;
  margin-bottom: 2rem;
  font-family: "Selecta-Regular";
  font-size: 18rem;
  line-height: 16rem;
  letter-spacing: -0.01em;
}
section.about-us .area5 .box-text .sub-text1, section.about-us .area5 .box-text .sub-text2 {
  font-size: 1.4rem;
  letter-spacing: -0.02em;
}
section.about-us .area5 .box-text .sub-text1 {
  margin-bottom: 57.5rem;
}
section.about-us .area5 .box-text .date {
  font-family: "RhymesDisplay-Thin";
  font-weight: 300;
  font-size: 18rem;
  line-height: 16rem;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
section.about-us .area5 .box-text .time {
  margin-bottom: 2rem;
}
section.about-us .area5 .box-text .time span {
  font-size: 18rem;
  line-height: 16rem;
  letter-spacing: -0.02em;
}
section.about-us .area5 .box-text .time .time-num {
  display: inline-block;
  width: 20.6rem;
  text-align: center;
  font-variant-numeric: tabular-nums;
}
section.about-us .area5 .clock-wrap {
  position: absolute;
  top: 18rem;
  left: 50%;
  width: 190rem;
  margin-left: -95rem;
}
section.about-us .area5 .clock-wrap svg {
  width: 100%;
  height: auto;
}
section.about-us .area6 {
  margin-bottom: 26rem;
}
section.about-us .area6 .wrap {
  position: relative;
}
section.about-us .area6 .bg-wrap {
  width: 82.7rem;
  margin: 0 auto;
  overflow: hidden;
}
section.about-us .area6 .bg-wrap .bg-img-list {
  display: flex;
}
section.about-us .area6 .bg-wrap .bg-img-list .img {
  flex-shrink: 0;
  width: 100%;
}
section.about-us .area6 .bg-wrap .bg-img-list .img img {
  width: 100%;
  border-radius: 3rem;
}
section.about-us .area6 .tag {
  position: absolute;
}
section.about-us .area6 .tag:first-of-type {
  top: 6rem;
  width: 100%;
  text-align: center;
}
section.about-us .area6 .tag:last-of-type {
  bottom: 6rem;
  width: 100%;
  text-align: center;
}
section.about-us .area6 .box-text {
  position: absolute;
  top: 69rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
section.about-us .area6 .box-text .text-ko-wrap {
  padding-left: 49.27%;
}
section.about-us .area7 {
  margin-bottom: 40rem;
}
section.about-us .area7 .wrap .introduce-text {
  position: relative;
  width: 100%;
  max-width: 132rem;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 6.4rem 0 11rem;
}
section.about-us .area7 .wrap .introduce-text .text-en, section.about-us .area7 .wrap .introduce-text .text-ko {
  box-sizing: border-box;
  padding-left: 64.6rem;
  transform: translateY(4rem);
  opacity: 0;
}
section.about-us .area7 .wrap .introduce-text:first-of-type {
  width: 100%;
  max-width: 132rem;
  margin: 0 auto;
  padding: 10rem 0 11rem 64.6rem;
}
section.about-us .area7 .wrap .introduce-text:first-of-type .text-en, section.about-us .area7 .wrap .introduce-text:first-of-type .text-ko {
  padding-left: 0;
}
section.about-us .area7 .wrap .introduce-text .title-wrap {
  display: flex;
  margin-bottom: 4rem;
  transform: translateY(4rem);
  opacity: 0;
}
section.about-us .area7 .wrap .introduce-text .title-wrap h2 {
  width: 64.6rem;
  font-family: "Selecta-Medium";
  font-size: 5.6rem;
}
section.about-us .area7 .wrap .introduce-text .title-wrap p {
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: -0.02em;
}
section.about-us .area7 .wrap .introduce-text .text-en {
  margin-bottom: 3rem;
  font-family: "Selecta-Light";
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.02em;
}
section.about-us .area7 .wrap .introduce-text .text-ko {
  font-size: 1.8rem;
  letter-spacing: -0.03em;
  line-height: 2.8rem;
  word-break: keep-all;
  word-wrap: break-word;
}
section.about-us .area7 .wrap .introduce-text .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: translateY(4rem);
  opacity: 0;
}
section.about-us .area8 {
  position: relative;
}
section.about-us .area8 .wrap {
  /* 
  부모를 gsap pin으로 고정하면 자식인 .wrap의 sticky가 정상 동작
  - sticky는 부모의 스크롤 영역 내에서만 작동하는데 overflow: hidden은 스크롤을 차단시킴
  */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
section.about-us .area8 .wrap .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 74px;
  height: 74px;
  border-radius: 100%;
  background-color: #2020c9;
}
section.about-us .area8 .wrap .contents-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 174.4rem;
  height: 100%;
  margin: 0 auto;
  transform: translateX(50vw);
}
section.about-us .area8 .wrap .contents-box svg {
  width: 100%;
  height: auto;
}
section.about-us .area8 .wrap .contents-box .text-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
section.about-us .area8 .wrap .contents-box .text-box .top-text {
  display: flex;
  gap: 13vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.about-us .area8 .wrap .contents-box .text-box .top-text .texts {
  width: 14vw;
  text-align: center;
  opacity: 0;
  transform: perspective(1000px);
  transform-style: preserve-3d;
}
section.about-us .area8 .wrap .contents-box .text-box .top-text .texts span {
  font-family: "Selecta-Light";
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.03em;
}
section.about-us .area8 .wrap .contents-box .text-box .top-text .texts p {
  font-family: "RhymesDisplay-Thin";
  font-size: 6rem;
  line-height: 7.2rem;
  /* transform: perspective(500px) rotateX(0);
  transform-style: preserve-3d; */
  transform-origin: 185.676px 53.4766px;
}
section.about-us .area8 .wrap .contents-box .text-box .top-text.box1 .texts p {
  transform: perspective(500px) rotateX(0);
  transform-style: preserve-3d;
}
section.about-us .area8 .wrap .contents-box .text-box .top-text.box2 .texts p {
  opacity: 0;
  transform: perspective(500px) rotateX(-90deg);
  transform-style: preserve-3d;
}
section.about-us .area8 .wrap .contents-box .text-box .top-text.box3 .texts p {
  opacity: 0;
  transform: perspective(500px) rotateX(-90deg);
  transform-style: preserve-3d;
}
section.about-us .area8 .wrap .contents-box .text-box .bottom-text {
  position: absolute;
  width: 100%;
  bottom: 15%;
  text-align: center;
  font-family: "Selecta-Light";
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.03em;
  color: #000;
  opacity: 0;
}
section.about-us .area9 {
  padding-top: 20rem;
  background-color: #2020c9;
}
section.about-us .area9 .text-box {
  position: relative;
  transform: translateY(36rem);
  z-index: 1;
}
section.about-us .area9 .text-box li {
  position: relative;
  display: flex;
  left: 50%;
}
section.about-us .area9 .text-box li p {
  text-align: left;
  font-family: "RhymesDisplay-Thin";
  font-size: 23rem;
  line-height: 22rem;
  letter-spacing: -0.01em;
  white-space: nowrap;
}
section.about-us .area9 .text-box li small {
  font-family: "Selecta-Light";
}
section.about-us .area9 .text-box li.line1 {
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -66rem;
}
section.about-us .area9 .text-box li.line1 small {
  position: relative;
  bottom: -3rem;
  margin-left: 1rem;
  font-size: 4.6rem;
  line-height: 5rem;
}
section.about-us .area9 .text-box li.line2 {
  margin-left: -96rem;
}
section.about-us .area9 .text-box li.line3 {
  margin-left: -62rem;
}
section.about-us .area9 .text-box li.line4 {
  justify-content: flex-start;
  align-items: center;
  margin-left: -90rem;
}
section.about-us .area9 .text-box li.line4 small {
  margin: 0 11rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
}
section.about-us .area9 .text-box li.line5 {
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -79rem;
}
section.about-us .area9 .text-box li.line5 small {
  position: relative;
  bottom: -3rem;
  margin-right: 9rem;
  text-align: left;
  font-size: 4.6rem;
  line-height: 4.2rem;
  letter-spacing: -0.06em;
  white-space: nowrap;
}
section.about-us .area9 .text-box li.line6 {
  justify-content: flex-start;
  align-items: center;
  margin-left: -83rem;
}
section.about-us .area9 .text-box li.line6 small {
  margin-left: 16rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
}
section.about-us .area9 .text-box li.line7 {
  margin-left: -100rem;
}
section.about-us .horizontal-wrap {
  position: relative;
  z-index: 1;
}
section.about-us .horizontal-wrap .wrap {
  display: flex;
}
section.about-us .horizontal-wrap .wrap > div {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  overflow: hidden;
}
section.about-us .horizontal-wrap .area10 {
  padding: 22.1875px 14.7917px;
  box-sizing: border-box;
}
section.about-us .horizontal-wrap .area10 .inner {
  position: relative;
  width: 25%;
  height: 100%;
  border-radius: 3rem;
  overflow: hidden;
}
section.about-us .horizontal-wrap .area10 .inner .image-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left bottom;
  z-index: -1;
}
section.about-us .horizontal-wrap .area10 .inner .image-wrap.dark {
  opacity: 0;
}
section.about-us .horizontal-wrap .area10 .inner .image-wrap.night {
  opacity: 0;
}
section.about-us .horizontal-wrap .area11 {
  position: relative;
  background: #000;
}
section.about-us .horizontal-wrap .area11 .text-box {
  position: absolute;
  bottom: 10%;
  width: 100%;
  margin: 0 auto;
}
section.about-us .horizontal-wrap .area11 .text-box .show-text-wrap {
  padding-left: 2.86%;
  width: 100%;
}
section.about-us .horizontal-wrap .area11 .text-box .show-text-wrap .line .units {
  transform: translateY(0);
}
section.about-us .horizontal-wrap .area11 .text-box .text-ko-wrap {
  padding-left: 36.45%;
}
section.about-us .horizontal-wrap .area11 .text-box .text-ko-wrap p {
  transform: translateY(0);
  opacity: 1;
}
section.about-us .horizontal-area-wrap {
  position: relative;
  z-index: 0;
  margin-top: -100vh;
  height: 2500vh;
}
section.about-us .horizontal-area-wrap .sticky-wrap {
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}
section.about-us .horizontal-area-wrap .area12 {
  display: flex;
  padding-left: 160rem;
  width: 706.5rem;
  background-color: #0f0;
  border-radius: 0 5rem 5rem 0;
  overflow: hidden;
}
section.about-us .horizontal-area-wrap .area12 .page {
  position: relative;
  height: 100%;
  flex-shrink: 0;
}
section.about-us .horizontal-area-wrap .area12 .page .contents {
  position: absolute;
  z-index: 3;
}
section.about-us .horizontal-area-wrap .area12 .page .contents h2, section.about-us .horizontal-area-wrap .area12 .page .contents p, section.about-us .horizontal-area-wrap .area12 .page .contents span {
  color: #000;
}
section.about-us .horizontal-area-wrap .area12 .page .contents h2, section.about-us .horizontal-area-wrap .area12 .page .contents h2 span {
  font-family: "RhymesDisplay-Thin";
  font-size: 20rem;
  line-height: 18rem;
  font-weight: unset;
}
section.about-us .horizontal-area-wrap .area12 .page .contents p, section.about-us .horizontal-area-wrap .area12 .page .contents span {
  font-family: "Selecta-Light";
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: -0.02em;
}
section.about-us .horizontal-area-wrap .area12 .page .contents span {
  display: block;
}
section.about-us .horizontal-area-wrap .area12 .page .contents .eng {
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.01em;
}
section.about-us .horizontal-area-wrap .area12 .page .contents .ko {
  margin-top: 3rem;
  font-size: 1.8rem;
  line-height: 2.9rem;
  letter-spacing: -0.03em;
}
section.about-us .horizontal-area-wrap .area12 .page .contents .image-box {
  display: flex;
  flex-direction: column;
  align-items: end;
}
section.about-us .horizontal-area-wrap .area12 .page .contents .image-box .image {
  border-radius: 3rem;
  overflow: hidden;
}
section.about-us .horizontal-area-wrap .area12 .page .contents .image-box .image img {
  width: 100%;
  height: 100%;
}
section.about-us .horizontal-area-wrap .area12 .page .contents .image-box span {
  margin-top: 1.4rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: -0.03em;
}
section.about-us .horizontal-area-wrap .area12 .page .object {
  position: absolute;
  opacity: 0.8;
}
section.about-us .horizontal-area-wrap .area12 .page.page1 {
  width: 221.3rem;
  height: 100vh;
}
section.about-us .horizontal-area-wrap .area12 .page.page1 .contents.contents1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  bottom: 4%;
  left: 4rem;
  height: 56.5rem;
  max-height: 96%;
}
section.about-us .horizontal-area-wrap .area12 .page.page1 .contents.contents2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  top: 9%;
  left: 87rem;
  height: 86rem;
  max-width: 91%;
  padding-bottom: 4rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page1 .contents.contents2 h2 {
  text-align: right;
}
section.about-us .horizontal-area-wrap .area12 .page.page1 .contents.contents2 .image-box {
  margin-left: 31.8rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page1 .contents.contents2 .image-box .image {
  width: 49rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page1 .object1 {
  width: 100rem;
  top: -56rem;
  left: -56rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page1 .object2 {
  z-index: 1;
  width: 130rem;
  bottom: -55rem;
  left: 96rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page2 {
  width: 209rem;
  height: 100vh;
}
section.about-us .horizontal-area-wrap .area12 .page.page2 .contents1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86rem;
  max-width: 90%;
  padding-bottom: 4rem;
  top: 10%;
  left: 15rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page2 .contents1 h2 {
  position: relative;
  margin-left: 6rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page2 .contents1 h2 span:last-of-type {
  text-indent: 27rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page2 .contents1 h2 small {
  position: absolute;
  top: 20rem;
  left: 13rem;
  font-family: "Selecta-Light";
  font-size: 4.6rem;
  line-height: 4.2rem;
  letter-spacing: -0.06em;
  color: #000;
}
section.about-us .horizontal-area-wrap .area12 .page.page2 .contents2 {
  top: 11%;
  left: 100rem;
  z-index: 2;
}
section.about-us .horizontal-area-wrap .area12 .page.page2 .contents2 .image {
  width: 67rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page2 .object3 {
  z-index: 1;
  width: 100rem;
  top: -30%;
  left: 40rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 {
  width: 276.2rem;
  height: 100vh;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .contents.contents1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 80rem;
  max-height: 100%;
  margin-top: -16%;
  top: 50%;
  left: 76rem;
  z-index: 3;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .contents.contents1 h2 span:nth-of-type(2) {
  text-indent: 20rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .contents.contents1 h2 span:nth-of-type(3) {
  text-indent: -9rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .contents.contents1 .desc {
  padding-left: 13rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .contents.contents2 {
  z-index: 2;
  bottom: 5%;
  left: 45.5rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .contents.contents2 .image {
  width: 37rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .contents.contents3 {
  z-index: 4;
  top: 22%;
  left: 164.8rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .contents.contents3 .image {
  width: 57.4rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .object4 {
  z-index: 4;
  width: 85rem;
  bottom: 8%;
  left: -5rem;
}
section.about-us .horizontal-area-wrap .area12 .page.page3 .object5 {
  z-index: 1;
  width: 150rem;
  bottom: -30%;
  left: 180rem;
}
section.about-us .horizontal-area-wrap .area13 {
  position: relative;
  z-index: -1;
  margin-top: -100vh;
  height: 100vh;
}
section.about-us .horizontal-area-wrap .area13 .video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
section.about-us .horizontal-area-wrap .area13 .video-wrap .contents video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.about-us .horizontal-area-wrap .area13 .video-wrap .contents.video2 {
  opacity: 0;
}
section.about-us .horizontal-area-wrap .area13 .video-wrap .contents.video3 {
  opacity: 0;
}
section.about-us .horizontal-area-wrap .area13 .video-wrap .contents.video4 {
  opacity: 0;
}
section.about-us .horizontal-area-wrap .area13 .text-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}